.active {
    background-color: #FFFAFA !important;
    border-radius: 5px;
    text-decoration: underline;
  }
    
.category span:hover:not(.active) {
    background-color: #FFF5EE;
    border-radius: 5px;
}

.category {
    color: black;
    border-radius: 5px;
}

.category a {
    color: #6A983C;
}