<nz-layout>
    <nz-sider>Sider</nz-sider>
    <nz-content>Content</nz-content>
</nz-layout>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-white-50">Get in touch</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">About Us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Careers</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Press Releases</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Blog</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-white-50">Connections</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Facebook</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Twitter</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Instagram</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Youtube</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">LinkedIn</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-white-50">Earnings</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Become an Affiliate</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Advertise your product</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Sell on Market</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-white-50">Account</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Your account</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Returns Centre</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">100% purchase protection</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Chat with us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Help</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" routerLink="/home">Dark</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->