nz-sider {
  line-height: 30px;
}

nz-content {
  background: #fff;
}

nz-layout {
  margin-bottom: 48px;
}

.pagination {
  display: inline-block;
}
  
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
  
.active {
  background-color: #ddd;
  border-radius: 5px;
}
  
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

  