<nz-layout>
    <nz-sider class="bg-white border-dark border-right rounded-right">
        <app-product-category></app-product-category>
    </nz-sider>
    <nz-content>
        <div class="container-fluid p-4">
            <div class="row" *ngIf="products?.length > 0">

                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="card border mb-4" style="background-color: #F9F9F9;">
                        <a routerLink="/product/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="card-img-top img-responsive product-img"/>
                        </a>
                        <div class="card-body">
                            <div class="row mb-3">
                                <a routerLink="/product/{{ tempProduct.id }}">
                                    <h6 class="card-title" style="font-weight: bold;">{{ tempProduct.name }}</h6>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">{{ tempProduct.unitPrice | currency:'USD' }}</p>
                                </div>
                                <div class="col">
                                    <button (click)="addToCart(tempProduct)" class="btn add-to-cart-btn btn-sm">
                                        Add to <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3" *ngIf="searchMode == false && hasCategoryId == false">
                    <div class="pagination">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ page: 1 }" (click)="selectPage()">&laquo;</a>
                    </div>
                    <div class="pagination" *ngFor="let p of totalPages; let i = index" (click)="select(i)" [ngClass]="{'active': isActive(i)}">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ page: i+1 }">{{i+1}}</a>
                    </div>
                    <div class="pagination">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ page: totalPages?.length }" (click)="selectPage()">&raquo;</a>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3" *ngIf="searchMode == true && hasCategoryId == false">
                    <div class="pagination">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ keyword: keyword, page: 1 }" (click)="selectPage()">&laquo;</a>
                    </div>
                    <div class="pagination" *ngFor="let p of totalPages; let i = index" (click)="select(i)" [ngClass]="{'active': isActive(i)}">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ keyword: keyword, page: i+1 }">{{i+1}}</a>
                    </div>
                    <div class="pagination">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ keyword: keyword, page: totalPages?.length }" (click)="selectPage()">&raquo;</a>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3" *ngIf="searchMode == false && hasCategoryId == true">
                    <div class="pagination">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ categoryId: currentCategoryId, page: 1 }" (click)="selectPage()">&laquo;</a>
                    </div>
                    <div class="pagination" *ngFor="let p of totalPages; let i = index" (click)="select(i)" [ngClass]="{'active': isActive(i)}">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ categoryId: currentCategoryId, page: i+1 }">{{i+1}}</a>
                    </div>
                    <div class="pagination">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ categoryId: currentCategoryId, page: totalPages?.length }" (click)="selectPage()">&raquo;</a>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3" *ngIf="searchMode == true && hasCategoryId == true">
                    <div class="pagination">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ categoryId: currentCategoryId, keyword: keyword, page: 1 }" (click)="selectPage()">&laquo;</a>
                    </div>
                    <div class="pagination" *ngFor="let p of totalPages; let i = index" (click)="select(i)" [ngClass]="{'active': isActive(i)}">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ categoryId: currentCategoryId, keyword: keyword, page: i+1 }">{{i+1}}</a>
                    </div>
                    <div class="pagination">
                        <a class="nav-link" routerLink="/products" [queryParams]="{ categoryId: currentCategoryId, keyword: keyword, page: totalPages?.length }" (click)="selectPage()">&raquo;</a>
                    </div>
                </div>
            
            </div>

            <div *ngIf="products?.length == 0" class="alert alert-dark mt-3" style="font-family: Open Sans;">
                No products found.
            </div>
        
        </div>

    </nz-content>
</nz-layout>