<nz-layout>
    <nz-sider class="bg-white border-dark border-right rounded-right">
        <app-product-category></app-product-category>
    </nz-sider>
    <nz-content>
        <div class="container-fluid p-4">
            <div class="row">

                <div *ngFor="let tempProduct of products | slice: (page-1) * pageSize : page * pageSize" class="col-md-3">
                    <div class="card border border-dark mb-3">
                        <a routerLink="/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="card-img-top img-responsive"/>
                        </a>
                        <div class="card-body border-top border-dark">
                            <a routerLink="/products/{{ tempProduct.id }}">
                                <h5 class="card-title">{{ tempProduct.name }}</h5>
                            </a>
                            <p class="card-text">{{ tempProduct.unitPrice | currency:'USD' }}</p>
                            <button (click)="addToCart(tempProduct)" class="btn btn-dark btn-sm">Add to cart</button>
                        </div>
                    </div>
                </div>

                <div *ngIf="products?.length == 0">
                    No products found.
                </div>

            </div>
        </div>

        <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="products?.length"></ngb-pagination>
    
    </nz-content>
</nz-layout>