.footer-link {
    color: #6A983C;
    font-family: Open Sans;
}

.header-link {
    color: #6A983C;
    font-family: Open Sans;
}

.heading-footer {
    font-size: large; 
    font-weight: bold;
    font-family: Poppins;
}