.cart-area.d-n{
    display:block
}

.cart-area i{
    font-size:22px;
    float:left;
    margin-top:14px;
    color:#46760A;
    margin-left:15px
}

.total{
    background:rgba(0, 0, 0, 0.2);
    line-height:43px;
    color:#fff;
    border-radius:30px;
    border: solid #fff;
    float:left;
    margin-top:2px;
    margin-bottom:2px;
    padding-left:17px;
    font-family: Poppins;
    font-weight: bold;
}

.total span{
    display:inline-block;
    background:#fff;
    padding:0 13px;
    color:#000;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin-left:11px;
    font-family: Poppins;
}