<div class=" container-fluid my-4">
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="card shadow-lg">
                <div class="row p-2 mt-3 justify-content-between mx-sm-2">

                    <div class="row mx-auto justify-content-center mb-4">
                        <div class="col-12 mt-3" style="font-family: Open Sans;">
                            <a routerLink="/products">
                                Back to homepage
                            </a>
                        </div>
                    </div>

                    <!-- Checkout form -->
                    <div class="row justify-content-around">
                        <div class="col-md-5">
                            <div class="card border-0">
                                <div class="card-header pb-0">
                                    <h2 class="card-title space">Checkout</h2>
                                    <h5 class="card-text pt-3">Billing info</h5>
                                    <hr class="my-0">
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                                        <div class="row no-gutters mb-3">
                                            <div class="col-sm-6 pr-sm-2">
                                                <div formGroupName="billingInfo" class="form-group">
                                                    <label class="small mb-2 field">First name</label>
                                                    <input formControlName="firstName" type="text" class="form-control field-placeholder"
                                                        placeholder="First name">

                                                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div
                                                            *ngIf="firstName.errors.required || firstName.errors.notOnlyWhiteSpace">
                                                            First name is required
                                                        </div>
                                                        <div *ngIf="firstName.errors.minlength">
                                                            First name must be at least 2 characters long
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div formGroupName="billingInfo" class="form-group">
                                                    <label class="small mb-2 field">Last name</label>
                                                    <input formControlName="lastName" type="text" class="form-control field-placeholder"
                                                        placeholder="Last name">

                                                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div
                                                            *ngIf="lastName.errors.required || lastName.errors.notOnlyWhiteSpace">
                                                            Last name is required
                                                        </div>
                                                        <div *ngIf="lastName.errors.minlength">
                                                            Last name must be at least 2 characters long
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row no-gutters mb-3">
                                            <div class="col-sm-6 pr-sm-2">
                                                <div formGroupName="billingInfo" class="form-group">
                                                    <label class="small mb-2 field">Email</label>
                                                    <input formControlName="email" type="text" class="form-control field-placeholder"
                                                        placeholder="Email">

                                                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div *ngIf="email.errors.required">
                                                            Email is required
                                                        </div>
                                                        <div *ngIf="email.errors.email">
                                                            Email must be a valid email address format
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div formGroupName="billingInfo" class="form-group">
                                                    <label class="small mb-2 field">Phone number</label>
                                                    <input formControlName="phoneNumber" type="text"
                                                        class="form-control field-placeholder" placeholder="Phone number">

                                                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div *ngIf="phoneNumber.errors.required">
                                                            Phone number is required
                                                        </div>
                                                        <div *ngIf="phoneNumber.errors.pattern">
                                                            Phone number must be in a valid format
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row no-gutters mb-3">
                                            <div class="col-sm-6 pr-sm-2">
                                                <div formGroupName="billingInfo" class="form-group">
                                                    <label class="small mb-2 field">Address</label>
                                                    <input formControlName="address" type="text" class="form-control field-placeholder"
                                                        placeholder="Address">

                                                    <div *ngIf="address.invalid && (address.dirty || address.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div
                                                            *ngIf="address.errors.required || address.errors.notOnlyWhiteSpace">
                                                            Address is required
                                                        </div>
                                                        <div *ngIf="address.errors.minlength">
                                                            Address must be at least 2 characters long
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div formGroupName="billingInfo" class="form-group">
                                                    <label class="small mb-2 field">Town / City</label>
                                                    <input formControlName="city" type="text" class="form-control field-placeholder"
                                                        placeholder="Town or City">

                                                    <div *ngIf="city.invalid && (city.dirty || city.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div
                                                            *ngIf="city.errors.required || city.errors.notOnlyWhiteSpace">
                                                            Town / City is required
                                                        </div>
                                                        <div *ngIf="city.errors.minlength">
                                                            Town / City must be at least 2 characters long
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row no-gutters mb-3">
                                            <div class="col-sm-6 pr-sm-2">
                                                <div formGroupName="billingInfo" class="form-group">
                                                    <label class="small mb-2 field">Country</label>
                                                    <select formControlName="country" class="form-control field-placeholder"
                                                        (change)="getStates()">
                                                        <option *ngFor="let country of countries" [ngValue]="country">
                                                            {{ country.name }}
                                                        </option>
                                                    </select>

                                                    <div *ngIf="country.invalid && (country.dirty || country.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div *ngIf="country.errors.required">
                                                            Country is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div formGroupName="billingInfo" class="form-group">
                                                    <label class="small mb-2 field">State</label>
                                                    <select formControlName="state" class="form-control field-placeholder">
                                                        <option *ngFor="let state of states">
                                                            {{ state.name }}
                                                        </option>
                                                    </select>

                                                    <div *ngIf="state.invalid && (state.dirty || state.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div *ngIf="state.errors.required">
                                                            State is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row no-gutters mb-3">
                                            <div class="col-sm-6">
                                                <div formGroupName="billingInfo" class="form-group">
                                                    <label class="small mb-2 field">ZIP/Postal code</label>
                                                    <input formControlName="zipCode" type="text" class="form-control field-placeholder"
                                                        placeholder="Postal code or ZIP">

                                                    <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div
                                                            *ngIf="zipCode.errors.required || zipCode.errors.notOnlyWhiteSpace">
                                                            ZIP/Postal code is required
                                                        </div>
                                                        <div *ngIf="zipCode.errors.minlength">
                                                            ZIP/Postal code must be at least 2 characters long
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div>
                                            <h5 class="card-text mt-4">Billing method</h5>
                                            <hr class="my-0">
                                        </div>
                                        <div>
                                            <div class="form-group mt-3">
                                                <div class="form-group">
                                                    <label class="small mb-2 field">Shipping service</label>

                                                    <div class="form-control">
                                                        <div *ngFor="let item of shippingMethod">
                                                            <input type="radio" name="shipping"
                                                                value="{{ item.method }}"
                                                                (change)="handleShippingMethod(item)">
                                                            <label class="field-placeholder">{{ item.method }}</label><br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <h5 class="card-text mt-4">Payment method</h5>
                                            <hr class="my-0">
                                        </div>
                                        <div>
                                            <div class="form-group mb-3 mt-3">
                                                <div formGroupName="paymentMethod" class="form-group">
                                                    <label class="small mb-2 field">Card number</label>
                                                    <input formControlName="cardNumber" type="text" class="form-control field-placeholder"
                                                        placeholder="Card number">

                                                    <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                                                        class="alert alert-dark mt-1">
                                                        <div *ngIf="cardNumber.errors.required">
                                                            Card number is required
                                                        </div>
                                                        <div *ngIf="cardNumber.errors.pattern">
                                                            Card number must be in a valid format
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row no-gutters">
                                                <div class="col-sm-6 pr-sm-2 mb-3">
                                                    <div formGroupName="paymentMethod" class="form-group">
                                                        <label class="small mb-2 field">Credit card type</label>
                                                        <select formControlName="cardType" class="form-control field-placeholder">
                                                            <option>Visa</option>
                                                            <option>Mastercard</option>
                                                        </select>

                                                        <div *ngIf="cardType.invalid && (cardType.dirty || cardType.touched)"
                                                            class="alert alert-dark mt-1">
                                                            <div
                                                                *ngIf="cardType.errors.required || cardType.errors.notOnlyWhiteSpace">
                                                                Credit card type is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-3">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div formGroupName="paymentMethod" class="form-group">
                                                                <label class="small mb-2 field">Expiration
                                                                    month</label>
                                                                <select formControlName="expirationMonth"
                                                                    class="form-control field-placeholder">
                                                                    <option *ngFor="let month of creditCardMonths">
                                                                        {{ month }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div formGroupName="paymentMethod" class="form-group">
                                                                <label class="small mb-2 field">Expiration
                                                                    year</label>
                                                                <select formControlName="expirationYear"
                                                                    class="form-control field-placeholder"
                                                                    (change)="handleMonthsAndYears()">
                                                                    <option *ngFor="let year of creditCardYears">
                                                                        {{ year }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div formGroupName="paymentMethod" class="form-group">
                                                        <label class="small mb-2 field">Card holder</label>
                                                        <input formControlName="cardHolder" type="text"
                                                            class="form-control field-placeholder" placeholder="Card holder">

                                                        <div *ngIf="cardHolder.invalid && (cardHolder.dirty || cardHolder.touched)"
                                                            class="alert alert-dark mt-1">
                                                            <div
                                                                *ngIf="cardHolder.errors.required || cardHolder.errors.notOnlyWhiteSpace">
                                                                Card holder is required
                                                            </div>
                                                            <div *ngIf="cardHolder.errors.minlength">
                                                                Card holder must be at least 2 characters long
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <h5 class="card-text mt-4">Additional Infomations</h5>
                                            <hr class="my-0">
                                        </div>

                                        <div class="form-group mt-3">
                                            <div formGroupName="additionalInfo" class="form-group">
                                                <label class="small mb-2 field">Order notes</label>
                                                <textarea formControlName="notes" type="text" class="form-control field-placeholder"
                                                    rows="5"
                                                    placeholder="Need a specific delivery day? Sending a gift? Let's say..."></textarea>
                                            </div>
                                        </div>

                                        <div class="row mb-md-5">
                                            <div class="col">
                                                <button type="submit" class="btn checkout-btn mt-3"
                                                    [disabled]="checkoutFormGroup.invalid">Complete order</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Cart details -->
                        <div class="col-md-5">

                            <div class="card border-0">
                                <div class="card-header card-2">
                                    <h5 class="card-text pt-3">Order Summary</h5>
                                    <hr class="my-2">
                                </div>

                                <div class="card-body pt-0">
                                    <app-cart-details></app-cart-details>

                                    <hr class="my-2">
                                    <div class="row ">
                                        <div class="col">
                                            <div class="row justify-content-between">
                                                <div class="col-4">
                                                    <p class="mb-1 field-placeholder"><b>Total quantity</b></p>
                                                </div>
                                                <div class="flex-sm-col col-auto">
                                                    <p class="mb-1 field-placeholder"><b>{{ totalQuantity }}</b></p>
                                                </div>
                                            </div>
                                            <div class="row justify-content-between">
                                                <div class="col-4">
                                                    <p class="mb-1 field-placeholder"><b>Subtotal</b></p>
                                                </div>
                                                <div class="flex-sm-col col-auto">
                                                    <p class="mb-1 field-placeholder"><b>{{ totalPrice | currency: 'USD' }}</b></p>
                                                </div>
                                            </div>
                                            <div class="row justify-content-between">
                                                <div class="col">
                                                    <p class="mb-1 field-placeholder"><b>Shipping</b></p>
                                                </div>
                                                <div class="flex-sm-col col-auto">
                                                    <p class="mb-1 field-placeholder"><b>{{ shippingPrice | currency: 'USD' }}</b></p>
                                                </div>
                                            </div>
                                            <div class="row justify-content-between mt-3">
                                                <div class="col-4 card-text">
                                                    <p><b>Total Order</b></p>
                                                </div>
                                                <div class="flex-sm-col col-auto">
                                                    <p class="mb-1 card-text"><b>{{ totalPrice + shippingPrice | currency: 'USD'
                                                            }}</b></p>
                                                </div>
                                            </div>
                                            <hr class="my-0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
