a {
    text-decoration: none !important;
    color: #aaa
}

.card-2 {
    margin-top: 45px !important
}

.card-header {
    background-color: #fff;
    border-bottom: 0px solid #000000aa !important
}

p {
    font-size: 15px
}

.small {
    font-size: 12px !important
}

hr{
    height: 5px;
    background-color: #46760A;
    border: none;
}

.checkout-btn {
    background-color: #46760A; 
    color: white; 
    font-weight: bold;
    font-family: Poppins;
}

.card-text {
    font-family: Poppins;
    font-weight: bold;
}

.card-title {
    font-family: Poppins;
    font-weight: bold;
}

.field {
    font-family: Poppins;
    font-weight: bold;
}

.field-placeholder {
    font-family: Open Sans;
}